USE [master]
GO
/****** Object:  Database [ChatAppDB2]    Script Date: 11/26/2025 2:27:33 PM ******/
CREATE DATABASE [ChatAppDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatAppDB2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ChatAppDB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChatAppDB2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ChatAppDB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatAppDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatAppDB2]
GO
/****** Object:  Table [dbo].[ChatRooms]    Script Date: 11/26/2025 2:27:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatRooms](
	[ChatRoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](100) NULL,
	[UserId] [int] NOT NULL,
	[AdminId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 11/26/2025 2:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[ChatRoomId] [int] NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileSize] [bigint] NULL,
	[FileType] [nvarchar](50) NULL,
	[UploadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 11/26/2025 2:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[ChatRoomId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[MessageText] [nvarchar](max) NULL,
	[SentDate] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/26/2025 2:27:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[UserRole] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChatRooms] ON 

INSERT [dbo].[ChatRooms] ([ChatRoomId], [RoomName], [UserId], [AdminId], [CreatedDate], [IsActive]) VALUES (1, N'Durg', 2, 1, CAST(N'2025-11-25T14:52:16.573' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ChatRooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([DocumentId], [ChatRoomId], [UploadedBy], [FileName], [FilePath], [FileSize], [FileType], [UploadDate]) VALUES (1, 1, 1, N'laptop (1).jpg', N'C:\Users\Acer\source\repos\chat2\chat2\Uploads\b80fff62-e0f0-45af-9643-b4a9715b940e_laptop (1).jpg', 4016, N'.jpg', CAST(N'2025-11-25T15:50:06.393' AS DateTime))
INSERT [dbo].[Documents] ([DocumentId], [ChatRoomId], [UploadedBy], [FileName], [FilePath], [FileSize], [FileType], [UploadDate]) VALUES (2, 1, 1, N'laptop (1).jpg', N'C:\Users\Acer\source\repos\chat2\chat2\Uploads\9b1f03d6-98a0-41a0-9d36-6b182fca9a23_laptop (1).jpg', 4016, N'.jpg', CAST(N'2025-11-25T16:06:26.990' AS DateTime))
INSERT [dbo].[Documents] ([DocumentId], [ChatRoomId], [UploadedBy], [FileName], [FilePath], [FileSize], [FileType], [UploadDate]) VALUES (3, 1, 1, N'tablet.jpg', N'C:\Users\Acer\source\repos\chat2\chat2\Uploads\e8b7367d-d10e-4b65-82a7-a39fe409b039_tablet.jpg', 3413, N'.jpg', CAST(N'2025-11-25T16:06:55.057' AS DateTime))
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [ChatRoomId], [SenderId], [MessageText], [SentDate], [IsRead]) VALUES (1, 1, 1, N'hi', CAST(N'2025-11-25T15:35:36.470' AS DateTime), 1)
INSERT [dbo].[Messages] ([MessageId], [ChatRoomId], [SenderId], [MessageText], [SentDate], [IsRead]) VALUES (2, 1, 1, N'helo', CAST(N'2025-11-25T15:40:39.590' AS DateTime), 1)
INSERT [dbo].[Messages] ([MessageId], [ChatRoomId], [SenderId], [MessageText], [SentDate], [IsRead]) VALUES (3, 1, 2, N'hi sir', CAST(N'2025-11-25T15:40:59.260' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [Password], [FullName], [UserRole], [IsActive], [CreatedDate], [LastLoginDate]) VALUES (1, N'admin', N'admin@chatapp.com', N'Admin@123', N'System Admin', N'Admin', 1, CAST(N'2025-11-25T14:52:16.570' AS DateTime), CAST(N'2025-11-26T14:02:35.187' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [Password], [FullName], [UserRole], [IsActive], [CreatedDate], [LastLoginDate]) VALUES (2, N'user1', N'user1@chatapp.com', N'User@123', N'John Doe', N'User', 1, CAST(N'2025-11-25T14:52:16.573' AS DateTime), CAST(N'2025-11-26T14:02:29.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_ChatRooms_AdminId]    Script Date: 11/26/2025 2:27:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatRooms_AdminId] ON [dbo].[ChatRooms]
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChatRooms_UserId]    Script Date: 11/26/2025 2:27:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatRooms_UserId] ON [dbo].[ChatRooms]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_ChatRoomId]    Script Date: 11/26/2025 2:27:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Documents_ChatRoomId] ON [dbo].[Documents]
(
	[ChatRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ChatRoomId]    Script Date: 11/26/2025 2:27:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ChatRoomId] ON [dbo].[Messages]
(
	[ChatRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_SentDate]    Script Date: 11/26/2025 2:27:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SentDate] ON [dbo].[Messages]
(
	[SentDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4CB217A81]    Script Date: 11/26/2025 2:27:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534FCCE5A18]    Script Date: 11/26/2025 2:27:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatRooms] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ChatRooms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ChatRooms]  WITH CHECK ADD FOREIGN KEY([AdminId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChatRooms]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([ChatRoomId])
REFERENCES [dbo].[ChatRooms] ([ChatRoomId])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([ChatRoomId])
REFERENCES [dbo].[ChatRooms] ([ChatRoomId])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserRole]='Admin' OR [UserRole]='User'))
GO
USE [master]
GO
